<div class="text mt-5">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8 mx-auto">
				<div class="card">
					<div class="card-header">
						<h2 class="blogTitle text-uppercase">{{title}}</h2>
						<p class="blogCreate text-right">Created by {{user.username}} on {{format_date date_created}}
						</p>
					</div>
					<div class="card-body">
						{{description}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{{#if logged_in}}

<div class="row">
	<div class="col-md-8 mx-auto">
		<form class="new-comment-form formCont" data-blogid={{id}}>
			<div class="textAreaCont p-2">
				<textarea class="form-control" id='comment_description' name="comment-body"
					placeholder="Enter a comment here..." cols="30" rows="2"></textarea>
			</div>
			<div class="btnComment p-2">
				<button class="button btn btn-success" type="submit">Add Comment</button>
			</div>
		</form>
	</div>
</div>

{{/if}}

<h2 class="text-center">Comments</h2>
<div class="container mb-5">
	{{#each comments as |comment|}}
	<div class="row mt-3">
		<div class="col-md-8 mx-auto">
			<div class="card p-3">
				<p>{{comment.comment_description}}</p>
				<hr>
				<p><small>Created by {{comment.user.username}} on {{format_date date_created}}</small></p>
			</div>
		</div>
	</div>
	{{/each}}
</div>

<script src="/js/comments.js"></script>